<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\aspnet-MyNewStoreFront-20210426015716.mdf;Initial Catalog=aspnet-MyNewStoreFront-20210426015716;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront-2-1-alpha1;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>